# for all environment variables see: https://docs.dbackup.app/developer-guide/reference/environment
DATABASE_URL="file:./dev.db"
BETTER_AUTH_SECRET="" # Generate with openssl rand -base64 32
BETTER_AUTH_URL="http://localhost:3000" # Must match how users access the app in browser
ENCRYPTION_KEY="" # Generate with openssl rand -hex 32